extends layout
block content
  .row
    .small-10.columns
      a.button.small.alert.radius.right(href="#" data-reveal-id="deleteModal") Delete Category
      h1.left= title
      form(method="post", enctype='application/x-www-form-urlencoded' action="/admin/category/update")
        .row
          .large-10.columns
            label Category Name
        .row
         .large-10.columns
           input(type="text", size=60 name="title" value=category.title)
        .row
          .large-10.columns
            label Category URL
        .row
          .large-10.columns
            input(type="text", size=60 name="url" value=category.url)
        .row
          .large-10.columns
            label Category Description
        .row
          .large-10.columns
            textarea(rows=7, name="description")
              | #{category.description}
          input(type="hidden", name="id" value=category.id)
        p
        .row
          .large-10.columns
            input(type='submit', value='Update Category')
    #deleteModal.reveal-modal.small(data-reveal)
      h3 Delete Tag
      p Are you sure you want to delete this tah?
      a(href="/admin/category/delete/" + category.id) Yes, delete this category
      a(class="close-reveal-modal") &#215;
      script $(document).foundation()
