doctype
html(lang="en")
    head
        title= title
    body
        h2. Add Collection Tags.
        form(method="post", enctype='application/x-www-form-urlencoded' action="/collection/create")
            h4 Collection Name
            #fieldValue= collName
            h4 Collection URL
            #fieldValue=collUrl
            h4 Collection Description
            #fieldValue=collDesc
            h4 Tags
            #fieldValue=tags

