extends layout

block content

     .row
        .small-10.columns
            a.button.small.alert.radius.right(href="#" data-reveal-id="deleteModal") Delete Tag
            h1.left= title
            form(method="post", enctype='application/x-www-form-urlencoded' action="/admin/tag/update")
                .row
                    .large-10.columns
                        label Tag Name
                .row
                    .large-10.columns
                        input(type="text", size=60 name="name" value=tag.name)
                .row
                    .large-10.columns
                        label Tag URL

                .row
                    .large-10.columns
                        input(type="text", size=60 name="url" value=tag.url)

                .row
                    .large-10.columns
                        input(type="radio", name="type", value="adm" checked=tag.type=='adm')
                        | <label>Administrative Area &nbsp;&nbsp;</label>
                        input(type="radio", name="type", value="sub" checked=tag.type=='sub')
                        | <label>Subject </label>

                .row
                    .large-10.columns
                        label Tag ID:
                            =tag.id
                input(type="hidden", name="id" value=tag.id)
                p
                .row
                    .large-10.columns
                        input(type='submit', value='Update Tag')

        #deleteModal.reveal-modal.small(data-reveal)
            h3 Delete Tag
            p Are you sure you want to delete this tag?
            a(href="/admin/tag/delete/"+tag.id) Yes, delete this tag
            a(class="close-reveal-modal") &#215;

            script $(document).foundation()
